data/logs/*
data/clp/*
data/User/state/*
data/User/workspaceStorage/*
.local/share/code-server/*
.bash_history
.ssh/*
.cache/*
.rpmdb/*
.mume/*
workspace/iso/*
workspace/kickstart/mkisofs/*
workspace/kickstart/bulid/docker-ce/finish/*
workspace/kickstart/bulid/dcache/finish/*
workspace/kickstart/bulid/universal/finish/*
