install
#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
# Keyboard layouts
keyboard --vckeymap=cn --xlayouts='cn'
# System language
lang zh_CN.UTF-8

# Network information
# network --bootproto=dhcp --device=ens192 --ipv6=auto --activate
network --hostname=KuaiCDN

# Root password
rootpw --iscrypted $6$Sy53RrlGakCmu2uw$NFNQU3KIsFroMNyExEqmhVtugrxpH5T2WLdu3XMNHN8IfmynLGpz0lBQQWW8g/z/6qvlmgFxnrE0OhDtLWi7f0
# System services
services --enabled="chronyd"
# System timezone
timezone Asia/Shanghai --isUtc
# System bootloader configuration
%include /tmp/part-include

selinux --disabled  # 关闭selinux
firewall --disabled # 关闭防火墙
reboot

%packages
@^minimal
@core
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

# 安装前运行
%pre --interpreter=/bin/sh
# 取系统第一块磁盘
_disk=$(cat /proc/partitions | grep '8        0 ' | awk '{print $NF}')
cat >/tmp/part-include <<EOF
    ignoredisk --only-use=$_disk
    bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=$_disk
    zerombr #安装时自动清空MBR
    clearpart --all --initlabel
    # 磁盘分区信息
    part /boot --fstype="xfs" --ondisk=$_disk --size=512
    part /boot/efi --fstype="efi" --ondisk=$_disk --size=64 --fsoptions="umask=0077,shortname=winnt"
    part / --fstype="xfs" --ondisk=$_disk --size=1 --grow # grow把剩余容量都给这个分区
EOF

%end

%post #结束后做的事

if [ ! -b /tmp/cdrom ]; then
    major=$(lsblk | grep rom | awk '{print $2}' | awk -F : '{print $1}')
    minor=$(lsblk | grep rom | awk '{print $2}' | awk -F : '{print $2}')
    [ -n "$major" -a -n "$minor" ] && mknod /tmp/cdrom b ${major} ${minor}
fi

[ ! -d /mnt/source ] && mkdir -p /mnt/source
mount -t iso9660 -o ro /tmp/cdrom /mnt/source

bash /mnt/source/res/script/entrypoint.sh

%end
